<div class="container">
    <div class="row grid-container">
        <div class="col-md-10">
            <div class="table">
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>&nbsp;</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Facebook Profile</th>
                            <th>PhoneNumber</th>
                            <th>Nr. Appointments</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let customer of customers">
                            <td><img src="assets/images/male.png" class="grid-image" alt="Customer Image" /></td>
                            <td><a [routerLink]="['/customers',customer.customerId,'details']">{{ customer.firstName }}</a></td>
                            <td>{{ customer.lastName}}</td>
                            <td>{{ customer.facebookProfile }}</td>
                            <td>{{ customer.phoneNumber}}</td>
                            <td>{{ customer.nrOfAppointments }}</td>
                        </tr>
                        <tr *ngIf="!customers.length">
                            <td>&nbsp;</td>
                            <td colspan="7">No Records Found</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

