
<div class="customers view indent">
    <div class="container">

        <header>
            <h3>
                <span class="fa fa-user"></span>
                {{ title }}
            </h3>
        </header>

        <br />

        <div class="row">
            <div class="col-md-10">
                <div class="navbar" >
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" (click)="changeDisplayMode(displayModeEnum.Card)" [class.active]="displayMode === displayModeEnum.Card">
                                <span class="fa fa-id-card"></span> Card View
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" (click)="changeDisplayMode(displayModeEnum.Grid)" [class.active]="displayMode === displayModeEnum.Grid">
                                <span class="fa fa-th"></span> List View
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/customers/0/edit">
                                <span class="fa fa-plus"></span> New Customer
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
            
        <bs-customers-card [customers]="customers" [hidden]="displayMode !== displayModeEnum.Card"></bs-customers-card>
        <bs-customers-grid [customers]="customers" [hidden]="displayMode !== displayModeEnum.Grid"></bs-customers-grid>
       
    </div>
</div>