.login-form input[type='text'], 
.login-form input[type='username'],
.login-form input[type='password'] {
    margin-bottom: 2%;
    width:100%;
}

.login-form button{
  border-radius: 15px;
}

.login-form .ng-invalid {
  border-left: 5px solid #b8201d;
  border-color: red;
}

.login-form .ng-valid {
  border-left: 5px solid #42A948;
  border-color: #42A948;
}
.login-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
  filter: blur(20px);
}

.login-container {
  height: 100vh;
  background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url("/assets/images/login_background.jpg");
  background-attachment: fixed;
  background-repeat:  no-repeat;
  background-position: center;
  background-size: 100vw 100vh;
}

.login-wrap{
  border-radius: 25px;
  position: absolute;
  top: 55%;
  left: 50%;
  width: 40%;
  height: 80%;
  transform: translate(-50%, -50%);
  color: whitesmoke;
  background-color: rgba(0, 0 , 0, 0.5);
  padding-top: 5%;
}

.login-wrap img, h1{
  display:block;
  margin:auto;
}

.login-wrap h1{
  padding-bottom: 5%;
}

.login-form {
  text-align:center;
  padding-left: 15%;
  padding-right: 20%;
}

.form-control{
  border-radius: 15px;
}

