<div class="login-container">
    <div class="login-wrap">
        <div class="row">
                <img src="/assets/images/account_icon.png" alt="Icon" width="30%" height="30%">
        </div>
        <div class="row">
            <h1>Welcome!</h1>
        </div>
        <form [formGroup]="loginForm" (ngSubmit)="submit(loginForm)" class="login-form" novalidate>
            <div class="row">
                <div class="col-sm-12 col-md-3">
                    Username:
                </div>
                <div class="col-sm-12 col-md-9">
                    <input type="username" name="username" class="form-control" formControlName="username" placeholder="username..."/>
                </div>
            </div>

            <br />

            <div class="row">
                <div class="col-sm-12 col-md-3">
                    Password:
                </div>
                <div class="col-sm-12 col-md-9">
                    <input type="password" name="password" class="form-control" formControlName="password" placeholder="password" />
                </div>
            </div>

            <br />

            <div class="row">
                <div class="col-md-12">
                    <button type="submit" class="btn btn-success" [disabled]="!loginForm.valid">Login</button>
                </div>
            </div>

            <br />

            <div class="statusRow">
                <div *ngIf="errorMessage" class="label label-important" >
                    <div class="alert alert-danger">
                        <span class="fa fa-thumbs-down icon-white"></span>&nbsp;&nbsp;{{ errorMessage }}
                    </div>
                </div>
            </div>
                
        </form>

    </div>
</div>