<div class="container">
    <div class="row card-container">
        <div class="col-sm-6 col-md-4 col-lg-3" *ngFor="let customer of customers">

            <div class="card">
                <div class="card-header">
                    <a [routerLink]="['/customers',customer.customerId,'details']" class="white">
                        {{customer.firstName}} {{ customer.lastName}} 
                    </a>

                    <a [routerLink]="['/customers',customer.customerId,'edit']">
                        <i title="Edit"  
                           class="pull-right fa fa-edit edit-icon white"></i>
                    </a>
                </div>

                <div class="card-body">
                    <div class="clearfix">
                        <div class="pull-left card-body-left">
                            <a [routerLink]="['/customers',customer.customerId,'details']" class="white">
                                <img src="assets/images/male.png" class="card-image" />
                            </a>
                        </div>

                        <div class="pull-left card-body-right">
                            <div class="card-body-content">{{customer.facebookProfile}}</div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
        <div *ngIf="!customers.length">
            No Records Found
        </div>
    </div>
</div>