<nav class="navbar fixed-top navbar-expand-lg navbar-custom">
    <a class="navbar-brand" routerLink="/home">
      <img src="assets/images/logo.jpg" width="100" height="50" alt="logo" />
    </a>
    <span class="icon-bar"></span>
    <button class="navbar-toggler ml-auto custom-toggler" type="button" (click)="toggleNavbar()">
      <span class="navbar-toggler-icon"></span>
    </button>
  
  
    <div class="collapse navbar-collapse"
         [ngClass]="{ 'show': navbarOpen }">
      <ul class="navbar-nav mr-auto">  
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/home">Home</a>
        </li>

        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" href="#">Book Appointment</a>
        </li>

        <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" href="#">Gallery</a>
        </li>

        <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" href="#">Prices</a>
        </li>
        

        <li class="nav-item" routerLinkActive="active" *ngIf="getCurrentUser()">
            <a class="nav-link" href="#">Appointments</a>
        </li>

        <li class="nav-item" routerLinkActive="active" *ngIf="getCurrentUser()">
            <a class="nav-link" routerLink="/customers">Customers</a>
        </li>
        <li class="nav-item" routerLinkActive="active" *ngIf="getCurrentUser() && getCurrentUser().role == 'ADMIN'">
            <a class="nav-link" href="#">Administration</a>
        </li>
     </ul>

     <ul class="navbar-nav navbar-right">
        <li class="nav-item" routerLinkActive="active" (click)="loginOrOut()" data-cy="login-logout">
          <a class="nav-link">{{ loginLogoutText }}</a>
        </li>
      </ul>
    </div>
  </nav>

  