.navbar-custom {
    background-color: #000000;
    -moz-box-shadow: 1px 2px 30px rgba(0,0,0,.8);
    -webkit-box-shadow: 1px 2px 30px rgba(0,0,0,.8);
    box-shadow: 1px 2px 30px rgba(0,0,0,.8);
    font-size: 15px;
}

/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: rgba(255,255,255,1);
}
/* change the link color */
.navbar-custom .navbar-nav .nav-link {
    color: rgba(255,255,255,.8);
}
/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: #ffffff;
}
 
/* Set the border color */ 
.custom-toggler.navbar-toggler { 
    border-color: white; 
} 
/* Setting the stroke using rgb values */ 
.custom-toggler .navbar-toggler-icon { 
    background-image: url( 
"data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E"); 
} 

.navbar-custom .navbar-nav > li > a:hover, .navbar-custom .navbar-nav > li > a:focus {
    cursor: pointer;
    text-decoration: underline;
}